.ec-pattern {
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  pointer-events: none;

  &--noise {
    background-size: 125%;
    background-image: url('/images/patterns/noise.webp');
    background-repeat: repeat;
  }

  &--topography {
    background-size: 100%;
    background-image: url('/images/patterns/topography.svg');
    background-repeat: repeat;
  }

  &--glamorous {
    &:before {
      content: '';
      height: 100%;
      width: 100%;
      display: block;
      background-size: 25%;
      background-image: url('/images/patterns/glamorous.svg');
      background-repeat: repeat;
      position: absolute;
      opacity: 0.25;
      pointer-events: none;
    }

    z-index: -1;
  }
}
