.ec-norican {
  font-family: 'Norican', serif;
  font-weight: 400;
  font-style: normal;

  &--overflow {
    width: 100%;
    font-size: clamp(1rem, 10vw, 72px);
    line-height: 34px;
    text-align: center;
    color: var(--ec-color-interactive-light);
    text-shadow: -2px -2px 0 var(--ec-color-primary-background),
      2px -2px 0 var(--ec-color-primary-background),
      -2px 2px 0 var(--ec-color-primary-background),
      2px 2px 0 var(--ec-color-primary-background);
    z-index: 1;
    position: relative;
    bottom: -18px;
  }
}
