@use 'sass:map';

$shadows-tokens: (
  'light': (
    'offset-x': 0px,
    'offset-y': 4px,
    'blur-radius': 8px,
    'spread-radius': -2px,
    'color': rgba(0, 0, 0, 0.1),
  ),
  'medium': (
    'offset-x': 0px,
    'offset-y': 10px,
    'blur-radius': 16px,
    'spread-radius': -4px,
    'color': rgba(0, 0, 0, 0.23),
  ),
  'strong': (
    'offset-x': 0px,
    'offset-y': 15px,
    'blur-radius': 30px,
    'spread-radius': -5px,
    'color': rgba(0, 0, 0, 0.35),
  ),
  'hover': (
    'offset-x': 0px,
    'offset-y': 20px,
    'blur-radius': 40px,
    'spread-radius': -10px,
    'color': rgba(0, 0, 0, 0.5),
  ),
);

$directions: (
  'down': 1,
  'up': -1,
);

:root {
  @each $key, $value in $shadows-tokens {
    @each $dir-name, $dir-factor in $directions {
      $offset-x: map.get($value, 'offset-x');
      $offset-y: map.get($value, 'offset-y') * $dir-factor;
      $blur-radius: map.get($value, 'blur-radius');
      $spread-radius: map.get($value, 'spread-radius');
      $color: map.get($value, 'color');
      $adjusted-shadow: #{$offset-x}
        #{$offset-y}
        #{$blur-radius}
        #{$spread-radius}
        #{$color};

      --ec-shadow-#{$key}-#{$dir-name}: #{$adjusted-shadow};
    }
  }
}
