.ec-card {
  position: relative;
  background-color: var(--ec-color-interactive-dark);
  padding: var(--ec-spacing-lg);
  border-radius: var(--ec-radius-xl);
  box-shadow: var(--ec-shadow-light);
  overflow: hidden;
}
