.ec-navbar {
  ul {
    display: flex;
    gap: var(--ec-spacing-md);
  }

  &__calendars {
    display: flex;
    flex-direction: column;
    gap: var(--ec-spacing-lg);
    padding: {
      top: 32px;
      left: 24px;
      right: 24px;
      bottom: 40px;
    }
  }
}
