.ec-banner {
  display: block;
  min-height: 400px;
  position: relative;
  background-size: cover;
  background-image: url('/images/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: {
    left-radius: var(--ec-radius-xl);
    right-radius: var(--ec-radius-xl);
  }
  border-bottom: 4px solid var(--ec-color-accent-color);
  box-shadow: var(--ec-shadow-medium);
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -90px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      var(--ec-color-primary-background) 70%,
      var(--ec-color-primary-background) 100%
    );
    opacity: 0.8;
    border-bottom: {
      left-radius: var(--ec-radius-xl);
      right-radius: var(--ec-radius-xl);
    }
  }

  &__heart-animation {
    display: block;
    width: 100px;
    height: 300px;
    position: absolute;
    bottom: 0px;

    &--pulsing {
      width: 200px;
      height: 200px;
      top: -50px;
      left: -28px;
    }

    &--one {
      right: 48px;
      bottom: 24px;
    }

    &--two {
      right: 24px;
      bottom: 48px;
    }

    &--three {
      right: 0px;
      bottom: 24px;
    }
  }
}
